
.heading{
border-bottom: 1px solid black;
}
#value{
  display: block;
margin: 10px;
}
.nav-btn{
  margin: 10px;
  text-decoration: none;
  color: black;
  padding: 3px;
}

.nav-btn:hover{
  cursor: pointer;
  background-color: white;
}

.accordion{
  width: 80%;
  margin: 2% auto;
}

.form-container{
height: 60px;
}
.heading{
  font-size: 25px;
}

.main-heading{
  font-size: 37px;
  font-weight: bolder;
  
}